<footer id="footer" class="mt-5">
    <div class="container text-center">
        <div class="row justify-content-between">
            <div class="col-md-3">
                <h5>Liens rapides</h5>
                <ul>
                    <li><a href="/about">À propos</a></li>
                    <li><a href="/contact">Contactez-nous</a></li>
                    <li><a href="/help">Aide</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Légal</h5>
                <ul>
                    <li><a href="/terms">Conditions d'utilisation</a></li>
                    <li><a href="/privacy">Politique de confidentialité</a></li>
                    <li><a href="/cgv">CGV</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Suivez-nous</h5>
                <div class="social-icons">
                    <a href="https://facebook.com" target="_blank" class="facebook"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://twitter.com" target="_blank" class="twitter"><i class="fab fa-twitter"></i></a>
                    <a href="https://instagram.com" target="_blank" class="instagram"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="mt-4">
            <p>&copy; 2025 Planète-Crèche. Tous droits réservés.</p>
        </div>
    </div>
</footer>
