<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/style.css">
        <title>Creche Planning</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment-with-locales.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>
        <script src="/com_serveur.js" defer></script>
        <script src="/popup.js" defer></script>
    </head>
    <body>

        <header>
            <div class="navbar">
                <a id="lien" href="/">Accueil</a>
                <div class="dropdown">
                    <a id="lien" class="dropbtn" href="#">Planning</a>
                    <div class="dropdown-content">
                        <a id="lien" href="#"><span class="hover-underline-animation">Planning enfants</span></a>
                        <a id="lien" href="#"><span class="hover-underline-animation">Planning employes</span></a>
                    </div>
                </div>
                <% if (profile != undefined) { %>
                    <a id="lien" href="/employes">Employés</a>
                    <a id="lien" href="/enfants">Enfants</a>
                    <div id="profile-container" class="profile-container">
                        <p><%= profile.username %></p>
                        <div class="popup" id="popup" style="display: none;">
                            <a id="profil" href="/inventaire"><span class="hover-underline-animation">Profil</span></a>
                            <a id="inventaire" href="/inventaire"><span class="hover-underline-animation">Inventaire</span></a>
                            <a id="deconnexion" href="#" onclick="decoProfile()"><span class="hover-underline-animation">Sign out</span></a>
                        </div>
                    </div>
                <% } else { %>
                    <a id="lien" href="#">Employés</a>
                    <a id="lien" href="#">Enfants</a>
                    <div class="log-container">
                        <a id="loginButton" class="case-button">LogIn</a>
                    </div>
                <% } %>
            </div>
        </header>

        <!---------------------------- POPUP / SEARCHBAR -------------------------------------->
            
        <div class="inscription" style="display: none;" id="inscription">
            <form class="Formin" action="/register" method="post">
                <h1 class="title_creation">Inscrivez-vous</h1>

                <label for="username">Nom d'utilisateur :</label>
                <input type="text" id="username" name="username" required>
                
                <label for="password">Mot de passe :</label>
                <input type="password" id="password" name="password" required>
                
                <button class="button_submit" type="submit">S'inscrire</button>
            </form>
            <button id="closepopup">Fermer</button>
        </div>
        
        <div id="loginPopup" style="display: none;">
            <form id="loginForm" action="/login" method="post">
                <h1 class="title_creation">Connectez-vous</h1>
                <!-- Ajoutez les champs nécessaires pour le formulaire de connexion -->
                <label for="usernameLog">Nom d'utilisateur:</label>
                <input type="text" id="usernameLog" name="usernameLog" required>
                
                <label for="passwordLog">Mot de passe:</label>
                <input type="password" id="passwordLog" name="passwordLog" required>
                
                <button class="button_login"  type="submit">Se connecter</button>
                <a id="a_login" onclick="popUp()" href="#">Nouvel utilisateur inscrit toi</a>
            </form>
            <button id="closePopup">Fermer</button>
        </div>

        
        <div id="calendar-container">
            <div id="calendar"></div>
        </div>
        

        <script>
            $(document).ready(function() {
                // Récupérez les données du planning
                $.ajax({
                    type: 'GET',
                    url: '/planning',
                    success: function(response) {
                        if (response.success) {
                            // Mettez à jour le DOM avec les nouvelles données
                            updateCalendar(response.events);
                        } else {
                            console.error('Erreur lors de la récupération des données de planning.');
                        }
                    },
                    error: function(error) {
                        console.error('Erreur AJAX : ', error);
                    }
                });
            
                // Fonction pour mettre à jour le calendrier dans le DOM
                function updateCalendar(events) {
                    // Logique pour mettre à jour le calendrier avec les nouveaux événements
                    // ...
            
                    // Par exemple, si vous utilisez FullCalendar
                    $('#calendar').fullCalendar('removeEvents');
                    $('#calendar').fullCalendar('addEventSource', events);
                    $('#calendar').fullCalendar('rerenderEvents');
                }
            
                // Nouveau code pour récupérer les horaires de garde des enfants
                $.ajax({
                    url: '/childSchedules',
                    method: 'GET',
                    success: function(childScheduleData) {
                        if (childScheduleData.success && Array.isArray(childScheduleData.childSchedules)) {
                            var childSchedules = childScheduleData.childSchedules;
            
                            childSchedules.forEach(childSchedule => {
                                var childEvent = {
                                    title: `Garde: ${childSchedule.child_id}`,
                                    start: moment().isoWeekday(childSchedule.dayOfWeek).set({ 'hour': childSchedule.daycareHoursStart }),
                                    end: moment().isoWeekday(childSchedule.dayOfWeek).set({ 'hour': childSchedule.daycareHoursEnd }),
                                    color: 'orange',
                                };
                                events.push(childEvent);
                            });
            
                            // Ajoutez cette ligne pour supprimer les anciens événements
                            $('#calendar').fullCalendar('removeEvents');
            
                            // Assignez les employés aux enfants en fonction des horaires de garde
                            assignEmployeesToChildren(events);
            
                            // Ajoutez cette ligne pour rendre à nouveau les événements
                            $('#calendar').fullCalendar('rerenderEvents');
                        } else {
                            console.error('Erreur : Aucune donnée d\'horaire de garde d\'enfant disponible');
                        }
                    },
                    error: function(error) {
                        console.error('Erreur lors de la récupération des horaires de garde des enfants : ' + error.message);
                    }
                });
            });               
        </script>            
    </body>
</html>
