<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Creche Planning</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment-with-locales.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>
</head>
<body>

    <header>
        <header>
            <div class="navbar">
                <a id="lien" href="/">Accueil</a>
                <a id="lien" href="/skins">Planning</a>
                <div class="dropdown-content">
                    <a id="lien" href="#"><span class="hover-underline-animation">Profil</span></a>
                    <a id="lien" href="#"><span class="hover-underline-animation">Profil</span></a>
                    <a id="lien" href="#"><span class="hover-underline-animation">Profil</span></a>
                </div>
                <a id="lien" href="/about">Employés</a>
                <a id="lien" href="/achat">Enfants</a>
                <a id="lien" href="/achat">Profile</a>
                    <div id="profile-container" class="profile-container">
                        <div class="popup" id="popup" style="display: none;">
                            <a id="profil" href="/inventaire"><span class="hover-underline-animation">Profil</span></a>
                            <a id="inventaire" href="/inventaire"><span class="hover-underline-animation">Inventaire</span></a>
                            <a id="deconnexion" href="#" onclick="decoProfile()"><span class="hover-underline-animation">Sign out</span></a>
                        </div>
                    </div>
                    <div class="log-container">
                        <a id="loginButton" class="case-button">LogIn</a>
                    </div>
            </div>
        </header>
    </header>
    
    <div id="calendar-container">
        <div id="calendar"></div>
    </div>
    

    <script>
        $(document).ready(function () {
            $('#calendar').fullCalendar({
                locale: 'fr', // Définir la langue en français
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'agendaDay,agendaWeek,month'
                },
                defaultView: 'agendaDay', // Définir la vue par défaut sur 'agendaDay'
                views: {
                    agendaDay: {
                        buttonText: 'Jour', // Personnaliser le texte du bouton pour la vue semaine
                        slotLabelFormat: 'H:mm', // Format des étiquettes de plage horaire
                        slotLabelInterval: '01:00', // Intervalle d'affichage des étiquettes (1 heure)
                        slotLabel: function (date) {
                            if (date.hour() >= 7 && date.hour() <= 19) {
                                return date.format('H:mm');
                            } else {
                                return '';
                            }
                        }
                    },
                    agendaWeek: {
                        buttonText: 'Semaine' // Personnaliser le texte du bouton pour la vue semaine
                    },
                    month: {
                        buttonText: 'Mois' // Personnaliser le texte du bouton pour la vue mois
                    },
                    today: {
                        buttonText: 'Aujourd\'hui' // Personnaliser le texte du bouton pour la vue aujourd'hui
                    }
                },
                events: [
                    // Vos événements
                ],
                businessHours: {
                    dow: [1, 2, 3, 4, 5], // Jours ouvrables (du lundi au vendredi)
                    start: '07:00', // Heure de début
                    end: '19:00'    // Heure de fin
                },
                allDaySlot: false
            });
        });
        
    </script>
</body>
</html>
