.register {
    background: linear-gradient(to left, #3931af, #00c6ff);
    padding: 5%; 
    margin-top: 5%; 
    border-radius: 10px;
}

.register-left {
    text-align: center;
    color: #fff;
    margin-top: 6%; 
}

.register-left img {
    width: 60%; 
    margin-bottom: 10%;
}

.register-right {
    background: #f8f9fa;
    border-radius: 15px;
}

.register .nav-tabs {
    margin-top: 3%;
    background: #0062cc;
    border-radius: 1.5rem;
}

.register .nav-tabs .nav-link {
    color: #fff;
    font-weight: bold;
    border: none;
}

.register .nav-tabs .nav-link.active {
    background: #fff;
    color: #0062cc;
    border-radius: 1.5rem;
}

.register-heading {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    font-weight: bold;
    color: #495057;
    font-size: 2rem;
}

.register-form .form-group {
    margin-bottom: 15px;
}

.register-form .btn {
    border-radius: 1.5rem;
    padding: 10px 20px; 
    font-size: 1.1rem; 
}

