body {
    color: #fff;
    background-color: white;
    font-family: 'Arial', sans-serif;
    height: 100vh;
    display: flex;
    margin: 0;
}

a{
    text-decoration: none;
    font-style: normal;
}

/******************************** navbar **********************************************/


nav,
.nav-list {
    display: flex;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    z-index: 3;
}

nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    z-index: 3;
}

nav .menu-deroulant:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1vh;
    text-decoration-color: rgb(181, 181, 181);
}

.nav-list {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

.navbar > ul > li > a {
    transform: translate(-50%, -50%);
}

.menu-deroulant {
    position: relative;
}

.sous {
  position: absolute;
  top: 50%;
  left: 0;
  width: max-content;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  padding: 0;
  z-index: 3;
}

.sous a {
    list-style: none;
    margin: 1vh 0 0 0;
    z-index: 3;
}

@keyframes apparitionSousMenu {
    0% {
    }
    30% {
  }
  100% {
      max-height: 50em;
  }
}

.menu-deroulant:hover > .sous {
    animation: apparitionSousMenu 1s forwards;
}

.hover-underline-animation {
    position: relative;
}

.hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: blue;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.sous a:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.case-button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.case-button:hover {
    background-color: #2980b9;
}


.profile-container{
    display:flex;
    align-items: flex-end;
    justify-content: center;
}

.profile-container p{
    color: black;
}

#imgHover{
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#imgHover:hover + .popup {
    display: flex;
}

.popup {
    display: inline-flex;
    position: fixed;
    top: 100px;
    z-index: 100;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #1e1e1e;
    padding: 20px 30px;
    width: 10vh;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.popup a {
    text-align: center;
    margin: 1vh 0 1vh 0;
    color: white;
}

.popup a:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/******************************** SIGN IN / LOGIN **********************************************/


#loginPopup{
    background-color: white;
    display: flex;
    position: fixed;
    left: 37%;
    top:30%;
    padding: 3vh 10vh;
    flex-direction: column;
    border-radius: 20px;
    z-index: 10;
}


#loginForm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#loginForm label{
    color: black;
    margin: 1vh 0 1vh 0;
}

#loginForm a{
    color: black;
    margin: 1vh 0 0 0;
}

.button_login{
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    margin: 2vh 0 2vh 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button_login:hover {
    background-color: #2980b9;
}

#closePopup{
    position: absolute;
    top:0;
    right:0;
    background-color: #3498db;
    color: #fff;
    padding: 5px 10px;
    font-size: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#closePopup:hover {
    background-color: #2980b9;
}

#loginForm input{
    padding: 10px;
    margin: 1vh 0 0 0;
    border-color: #3498db;
    
}

.inscription{
    background-color: white;
    display: flex;
    position: fixed;
    left: 32%;
    top:25%;
    padding: 3vh 10vh;
    flex-direction: column;
    border-radius: 20px;
    z-index: 9;
}

.Formin{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2vh 0 0 0;
}

.Formin label{
    color: black;
    margin: 1vh 0 0 0;
}

.button_submit{
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button_submit:hover {
    background-color: #2980b9;
}

.Formin input{
    padding: 10px;
    margin: 1vh 0 0 0;
    border-color: #3498db;
    
}

.image-selection-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.selected-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border: 1px solid #3498db; /* Bordure pour l'image sélectionnée */
    margin-right: 10px;
    border-radius: 50px;
    cursor: pointer;
}

.selected-image img{
    border-radius: 50px;
    width: 100px;
    height: 100px;
}

.image-scroll {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    margin-bottom: 10px;
}

.image-scroll img {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    cursor: pointer;
}


.button {
    border-radius: 5px;
    background-color: #3498db;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease;
}

.button:hover {
    cursor: pointer;
    background-color: white;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 99;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}


#calendar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 80%;
    margin: 15vh auto;
    padding: 0 10px;
    border-radius: 15px;
    background-color: #3498db;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#calendar {
    border-radius: 5px;
}

/* .fc-day-grid {
    width: 100%;
} */

.fc-grid {
    border-radius: 15px;
}

.fc-day {
    padding: 5px;
    border-radius: 10px; /* Ajoutez des bordures arrondies aux colonnes */
}

.fc-event {
    padding: 5px;
    margin: 2px 0;
    background-color: #4CAF50;
    color: #fff;
    border: 1px solid #4CAF50;
}

.fc-toolbar {
    margin-bottom: 10px;
}

.fc-header-title h2 {
    font-size: 20px;
}


/******************************** PAGE EMPLOYES **********************************************/


.add{
    display: flex;
    align-items: center;
    justify-content: center;
    top: 15%;
    right: 0;
    position: absolute;
    margin: 0 1vh 0 0;
}

#addEmployeeButton{
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#addEmployeeButton:hover {
    background-color: #2980b9;
}

#addEmployeeForm{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: black;
    position: fixed;
    left: 37%;
    top:30%;
    padding: 3vh 10vh;
    border-radius: 20px;
    z-index: 10;
}

#employeeForm{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

#employeeForm input{
    margin: 1vh 0 0 0;
    border-radius: 10px;
    padding: 10px;
}

#employeeForm div{
    display: flex;
    align-items: flex-start;
}

#employeeForm label{
    margin: 1vh 0 0 0;
}

#employeeForm button{
    margin: 2vh 0 0 0;
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#employeeForm button:hover {
    background-color: #2980b9;
}

.container_employes{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.employee-card{
    margin: 4vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1e1e1e;
    padding: 20px 60px;
    border-radius: 50px;
    cursor: pointer;
}

#editEmployeeForm{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: black;
    position: fixed;
    left: 37%;
    top:30%;
    padding: 3vh 10vh;
    border-radius: 20px;
    z-index: 10;
}

.check{
    margin: 0.8vh 0 0.8vh 0;
}

input[type="checkbox"] {
    display: flexbox;
    flex-direction: row-reverse;
}



/******************************** PAGE ENFANTS **********************************************/


#addEnfantButton{
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#addEnfantButton:hover {
    background-color: #2980b9;
}

#addEnfantForm{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: black;
    position: fixed;
    left: 40%;
    top:15%;
    padding: 3vh 10vh;
    border-radius: 20px;
    z-index: 10;
}

#enfantForm{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

#editEnfantForm{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: black;
    position: fixed;
    left: 33%;
    top:20%;
    padding: 3vh 10vh;
    border-radius: 20px;
    z-index: 10;
}

#enfantForm{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

#enfantForm label input[type="checkbox"] {
    margin: 0 1vh 0 0;
}

.JG div{
    display: flex;
    flex-direction: column;
}

.JG div{
    display: flex;
    align-items: flex-start;
}

.JG label{
    display: flex;
    margin: 1vh 0 0 0;
}

#enfantForm input{
    margin: 1vh 0 0 0;
    border-radius: 10px;
    padding: 10px;
}

#enfantForm label{
    margin: 1vh 0 0 0;
}

#enfantForm button{
    margin: 1vh 0 0 0;
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#enfantForm button:hover {
    background-color: #2980b9;
}

.container_enfants{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container_enfants div{
    margin: 4vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1e1e1e;
    padding: 20px 60px;
    border-radius: 50px;
    cursor: pointer;
}

.btn-supprimer {
    display: none; /* Par défaut, le bouton est caché */
    margin: 0 0 2vh 0;
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-supprimer:hover {
    background-color: #2980b9;
}

.visible {
    display: inline-block !important; /* Rend le bouton visible */
}
