<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="https://fonts.googleapis.com/css?family=Raleway:500,800" rel="stylesheet">
        <title>Erreur - Page non disponible</title>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Quicksand:wght@400;500&family=Pacifico&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
        <link rel="stylesheet" href="/css/error.css">
        <link rel="icon" href="/media/logoo.png" type="image/x-icon">
    </head>
    <body>
        <img src="/media/logoo.png" alt="Logo">

        <h1>Erreur</h1>
        <h2>Desolé, cette page n'est pas disponible</h2>
        <div class="description">
            <p>Mais vous pouvez toujours retourner vers la page d'accueil de notre site et continuer de naviguer.</p>
        </div>
        
        <a href="/" class="button">Retour à l'accueil</a>

    </body>
</html>
